body {
    background-color: rgb(77, 77, 77);
    color: white;
    font-family: tahoma;
    font-size: 1.3rem;
}

.waviy {
    margin-top: 6rem;
}

.waviy span {
    position: relative;
    display: inline-block;
    font-size: 6rem;
    font-family: Georgia;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip {
    0%, 80% {
        transform: rotateY(360deg)
    }
}

a {
    color: white;
    font-size: 5vw;
    display: inline-block;
    text-decoration: none;
    transition: font-size 0.5s;
}

a:link {
    border-bottom: 2px solid #000;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    border-bottom: 0px;
    cursor: none;
    /* animation: zoom 0.4s forwards; */
    font-size: 5.5vw;
}

@keyframes zoom {
    0% {
        font-size:6vw;
    }
    100% {
        font-size:6.5vw;
    }
}

.cursor {
    pointer-events: none;
    position: absolute;
    mix-blend-mode: difference;
    z-index: 1000;
    background-color: white;
    border-radius: 50%;
}

.expand {
    height: 6vw;
    width: 6vw;
  }